RewriteEngine on

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php

<IfModule mod_headers.c>
	<FilesMatch "\.(gif|jpg|jpeg|png|swf|js|css)$">
		# one week
		Header set Cache-Control "max-age=604800, public"
	</FilesMatch>
</IfModule>