<center>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="description" content="Principal evento de PHP no Rio de Janeiro" />
<meta name="keywords" content="PHP, desenvolvimento, programação web, web developer, evento php rio, ecevto php"/>
<meta name="language" content="pt-br" />
<meta name="robots" content="index,follow" />
<meta name="author" content="Rafael Caride" />
<link href="css/estilo.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
<script type="text/javascript" src="js/jquery.simplyscroll-1.0.4.min.js"></script>

<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script type="text/javascript" src="js/prettify.js"></script>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>PHP'n Rio 2011: Dia 5 de Novembro no CEFET-RJ campus Maracanã</title>
<style type="text/css">
<!--
body {
	background-position:center top;
	background-image: url(imagens/bg-internas.jpg);
	background-repeat:no-repeat;
	background-color: #fff;
}
-->
</style>

<link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css' />
  <script>
      $(function() {
	$("#scroller").jCarouselLite({
            btnPrev : '.prev',
            btnNext : '.next',
            auto    : null,
            speed   : 3000,
            visible : 4
        });
       
      });
  </script>
</head>
<body>
<div class="mae">
<!-- topo -->
<div class="topo">
<div class="logo"><a href="index.php"><img src="imagens/logo.gif" alt="PHP 'n Rio 2011" width="204" height="51" border="0" /></a></div>
<div class="redes-sociais" style="color:#FFFFFF;">
	<span style="padding-top:2px; *padding-top:1px; float:right;">
	  <fb:like href="http://www.facebook.com/pages/PHPRio/160383237381004" send="false" layout="button_count" width="80" show_faces="false" font=""></fb:like>
	</span>
	<span style="padding-top:2px; padding-right:15px; float:right;">
	  <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="phprio" data-text="PHP'n Rio 2011 dia 5 de Novembro - O evento de desenvolvimento web carioca @phprio" data-lang="en">Tweet</a>
	</span>
	<span style="padding-top:2px; float:right;"> 
	  <g:plusone size="medium" href="http://phprio.org/phpnrio11"></g:plusone>
	</span>
</div>
<div id="menu">
<ul>
 <li><a href="#.php">O EVENTO</a></li><?php /* Submenu Grade, Palestrantes, Local, Informações */?>
    <li><a href="#.php">INSCRIÇÕES</a></li>
	<li><a href="#.php">GRADE</a></li>
    <li><a href="#.php">PATROCINADORES</a></li>
    <li><a href="#.php">ORGANIZAÇÃO</a></li>
</ul></div>
</div>
<!-- topo -->

<!-- meio -->
<div class="meio">
<!-- conteúdo -->
<div class="conteudo">
<div class="titulo">
  <h2>Palestrantes</h2>
</div>

<!-- box palestrantes -->
<div class="pagina-palestrantes">
<h1><img src="imagens/foto-palestrante.gif" alt="foto" width="73" height="82" border="1" align="left" style="margin-right:15px;" /><img src="imagens/seta.jpg" alt="palestras" width="8" height="15" style="margin-right:5px;" />Nome do palestrante</h1>
<h3>Título da palestra</h3>
<p style="color:#60a7aa"><a href="#" target="_blank" style="color:#60a7aa;">@twitterdofigura</a></p>
<p>Descrição breve da pelestra, lorem ipsum dolor it over amet  lorem ipsum dolor it over amet  lorem ipsum dolor it over amet  lorem ipsum dolor it over amet  lorem ipsum dolor it over amet  lorem ipsum dolor it over amet  lorem ipsum dolor it over amet  lorem ipsum dolor it over amet  lorem ipsum dolor it over amet.</p>
</div>
<!-- box palestrantes -->


</div>

<!-- coluna direita -->
<div class="coluna-direita">
<div class="titulo"><h2>Inscrições</h2></div>
<div class="box-inscreva-se"><span style="margin-top:5px">Não perca tempo, faça logo a sua inscrição para a edição de 2011 do PHP'n Rio!</span><br /><a href="#">
<img src="imagens/bt-inscreva-se.png" alt="Inscreva-se" width="165" height="47" border="0" align="right" style="padding-right:32px; padding-top:20px;" /><a></div>
<div class="titulo"><h2>Redes Sociais</h2></div>
 <div class="col" style="float:right; padding-top:10px;">
        <script src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script>
          new TWTR.Widget({
            version: 2,
            type: 'search',
            search: 'phprio OR phpnrio OR PHP\'nRio',
            interval: 30000,
            title: 'PHP\'n Rio 2011',
            subject: 'O evento Carioca de PHP',
            width: 250,
            height: 110,
            theme: {
              shell: {
                background: '#8ec1da',
                color: '#ffffff'
              },
              tweets: {
                background: '#ffffff',
                color: '#444444',
                links: '#1985b5'
              }
            },
            features: {
              scrollbar: false,
              loop: true,
              live: true,
              hashtags: true,
              timestamp: true,
              avatars: true,
              toptweets: true,
              behavior: 'default'
            }
          }).render().start();
          </script>
      </div>
        
        
        <div class="col" style="float:right; padding-top:10px;">
            <div id="fb-root"></div>
		  <script>(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) {return;}
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));</script>

		  <div class="fb-like-box" data-href="http://www.facebook.com/pages/PHPRio/160383237381004" colorscheme="fff" data-width="250" data-height="180" data-show-faces="true" data-stream="false" data-header="false" style="float:right;"></div>
		</div>
        
        </div>
<!-- conteúdo -->        
        
<!-- coluna direita -->
</div>
<!-- meio -->
</div>
<!-- footer 1-->
<div class="rodape-top">
<div class="logos-patrocinio">
<div class="box-logos-patrocinio"><a href="#"><img src="imagens/logo-php-rio.gif" alt="Php Rio" width="115" height="79" border="0"   /></a></div>
<div class="box-logos-patrocinio"><a href="#"><img src="imagens/logo-cefet.gif" alt="Cefet" width="115" height="79" border="0"   /></a></div>
<div class="box-logos-patrocinio"><a href="#"><img src="imagens/logo-hotel-urbano.gif" alt="Hotel Urbano" width="115" height="79" border="0"   /></a></div>
<div class="box-logos-patrocinio"><a href="#"><img src="imagens/patrocine-aqui.jpg" alt="Php Rio" width="115" height="79" border="0"   /></a></div>
<div class="box-logos-patrocinio"><a href="#"><img src="imagens/patrocine-aqui.jpg" alt="Php Rio" width="115" height="79" border="0"   /></a></div>
<div class="box-logos-patrocinio"><a href="#"><img src="imagens/patrocine-aqui.jpg" alt="Php Rio" width="115" height="79" border="0"   /></a></div>
</div>
</div>
<!-- footer 1-->

<!-- footer 2-->
<div class="rodape-bottom">
<div class="conteudo-rodape">

<div class="menu-rodape">
<p style="margin-bottom:5px;">O EVENTO</p>
<ul><li><a href="#">Palestrantes</a></li>
<li><a href="#">Palestras</a></li>
<li><a href="#">Eventos anteriores</a></li>
<li><a href="#">Informações</a></li>
</ul>
</div>
	
<div class="menu-rodape">
<p style="margin-bottom:5px;">Precisa falar conosco?</p>
<ul>
<li>phprio@phprio.org.br</li>
</div>

<div class="rodape-creditos"><img src="imagens/logo-php-in-rio-2011-rodape.gif" alt="Php'n Rio 2011" width="92" height="42" /><br />
<p style="padding-top:7px;"><a href="http://www.rafaelcaride.com.br">Design e Frontend<br />
Rafael Caride</a></p>
</div>

</div>
</div>
<!-- footer 2-->
</body>
</html>
</center>